.container {
  position: center;
  top: 20%;
  text-align: center;
  background-color: #e0f7fa;
  color: #000000;
  height: 100vh;
  box-shadow: 5px 0 5px -5px #333;
}

.container h2 {
  font-size: 5rem;
  color: #000000;
}
