@import "~font-awesome/css/font-awesome.css";


body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif !important;
  overflow-y: visible;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.h4-collabs {
  font-weight: 200;
}

.h4-invite {
  font-weight: 200;
  color: #e0e0e0;
}

.h6-collabs {
  font-weight: 400;
}

.sidebar-panel-wrapper .card-panel {
  padding: 0 !important;
  margin: 0 !important;
}

.collab_button {
  padding-bottom: 10px;
}

.project-add {
  background-color: #ffefd5;
}


.project-add:hover {
  background-color: #ffe57f;
}

h3 {
  font-size: 20px !important;
  margin: 0;
}

.h1-info {
  font-weight: 300;
}

.info-page {
  text-align: left;
  margin-top: 30px;
}

.info-page p {
  font-weight: 300;
  font-size: 19px;
}

.ul-info {
  font-weight: 500;
}

.info-page a :hover {
  color: #ef6c00;
  /*background-color: #ef6c00 ;*/
}

.footer-logo {
  margin-top: 40px;
}

.left-justified-text {
  text-align: left;
  padding: 20px;
}

.project-note {
  margin-bottom: 10px;
}

.add-project-icon {
  padding: 0 !important;
}


.project-title{
  padding: 20px;
}

.project-title:hover{
  background-color: #4dd0e1;
}

.item-commit-border{
   border-bottom: 1px solid #e0e0e0;
}

.item-commit-border:hover {
  background-color: #fff8e1;

}

.commit-message{
  padding: 0px 10px 0px 10px;
  font-size: ;
  padding-top: 10px
}

.commit-color{
  color: black;
}

.item-commit-details{
  margin-bottom: 10px;
}

.commit-info-font{
  font-size: 12px;
  font-color: grey;
}

.commit-date{
  padding-right: 4px;
}

.email-margin-bottom-zero{
  margin-bottom: 0px;
}

.welcome-name{
  font-size: 28px;
}

i.icon-light {
  color: #e0f7fa;
}

.light-text{
   color: #e0f7fa;
}

.icon-black{
  color: #000000;
}

.red-error{
  font-style: italic;
  color: #f44336;
  margin-bottom: 10px;
}


.remove-padding-button{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.sidebar-scroll{
  height: 100vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(150, 150, 150, 0);
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgba(150, 150, 150, 0);
}


/*---------- react-sanfona accordian/collapsible library --------*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

/*body {
  font-family: 'Roboto', sans-serif;;
}*/


.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 70px;
} 

.react-sanfona-item-title {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  color: #333;
  padding: 20px;
  text-transform: uppercase;
  transition: background-color .3s;
}

.react-sanfona-item-body-wrapper {
  color: #666;
  position: relative;
}

.react-sanfona-item-body-wrapper:hover .tooltip {
    opacity: 1;
}

.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none;
}

.icon-height{
  height: 24px;
}


.react-sanfona-item-expanded .project-title {
  background-color: #4dd0e1;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-bottom: 6px;
}

.react-sanfona-item-expanded .react-sanfona-item-title .title-done-btn {
  display: inline-block;
  float: right;
  color: #000;
}

.react-sanfona-item-body-wrapper {
  color: #666;
  position: relative;
}

.react-sanfona-item-body-wrapper:hover .tooltip {
  opacity: 1;
}

.react-sanfona-item .title-done-btn {
  display: none;
}

.react-sanfona-item img {
  display: block;
  max-width: 100%;
}


.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s;
}

.add_logo {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.add_ok_btn {
  margin-top: 2px;
}


.home_logo {
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.new_project {
  margin-top: 18px;
}

.semi_trans {
  margin-top: 100px;
}

.select_file {
  margin-top: 5px;
}

.display-message {
  color: #f44336;
  display: block;
}

.no-display-message {
  display: none;
}
